* {
  box-sizing: border-box;
}

:root {
  --font-padding: "Inter", sans-serif;
  --primary-color: #ffb900;
  --font-heading: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}

/* Khôi phục cỡ chữ mặc định theo rem */

body {
  font-size: 1.6rem;
  font-family: "Sen", sans-serif;
}

/* =================common================ */
/* Xóa gạch chân */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 6px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
  transition: all 0.3s ease; /* chỉ khai 1 lần */
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.btn {
  transition: all 0.3s ease; /* mượt hơn khi đổi màu/kích thước */
}

.Courses .btn:hover {
  background-color: #ffb900; /* đổi màu nền */
  color: #fff; /* đổi màu chữ */
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* thêm bóng */
}
.main-content {
  width: 1280px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* =================header================ */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
/* Thêm dấu gạch chân */
.nav li.active a::after {
  display: block;
  left: 21px;
  bottom: 6px;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  position: absolute;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ===================hero===================== */

.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
  margin-right: auto;
}
/* ============Hero-left ============== */
.hero .media-block {
  width: 48%;
}

.hero .content-block {
  width: 52%;
  margin-left: auto;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  /* không bị vỡ ảnh  */
  object-fit: cover;
  border-radius: 20px;
}

.hero .media-block {
  position: relative;
}

.hero .hero-summary {
  padding: 24px;
  position: absolute;
  bottom: 48px;
  left: 300px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  width: 270px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}

/* tác động vào class item nằm sau một class item khác */
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .infor {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

/* ============Hero-right ============== */

.hero .content-block {
  width: 470px;
  height: 558px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-padding);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
  line-height: 64px;
}
.hero-cta {
  transition: all 0.3s ease; /* mượt hơn khi đổi màu/kích thước */
}

.hero .hero-cta:hover {
  color: #fff; /* đổi màu chữ */
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* thêm bóng */
}

.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  background: transparent; /* bỏ nền */
  box-shadow: none; /* bỏ shadow của vỏ bọc */
  border-radius: 0; /* không cần bo tròn nữa */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .watch-video .icon img {
  width: 70px;
  height: 70px;
  display: block;
}

.hero .watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-padding);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-right: 15px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

.hero .watch-video:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.hero .watch-video .icon:hover {
  background-color: #fffcf4;
}

.Courses {
  padding: 139px 135px 0 135px;
  width: 1440px;
  /* height: 5109px; */
  margin-left: auto;
  margin-right: auto;
}
.Courses h1 {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
  margin-bottom: 16px;
}

.Courses .PhanDau {
  display: flex;
}
.Courses .base {
  width: 370px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  flex: 1;
}
.Courses .desc {
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

.Courses .arrow {
  margin-left: 614px;
}

.Courses .mota {
  width: 370px;
  height: 278px;

  /* không bị vỡ ảnh  */
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.Courses .foot {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.Courses .Tieude a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  width: auto; /* hoặc bỏ rule width/height cũ */
  height: auto;
  line-height: 1;
  margin: 0;
}

.Courses .base .Text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Courses .base .sao {
  margin-left: auto; /* đẩy sao + số sang phải */
  width: 18px;
  height: 18px;
  display: block;
  flex: 0 0 18px;
  align-self: center; /* bảo đảm icon nằm giữa dọc */
}
.Courses .ratting {
  line-height: 1; /* hoặc 18px */
  display: flex; /* để chữ cũng giữa dọc */
  align-items: center;
  color: #fea31b;
}

.Courses .Baoquanh {
  margin: 16px 22px 22px;
}
.Courses .base .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  width: 326px;
  margin-top: 6px;
}

.Courses .foot-card p {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  align-items: center;
}

.Courses .foot-card {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.Courses .btn {
  margin-left: auto;
  border-radius: 25px;
}

.Courses .btn {
  transition: all 0.3s ease; /* mượt hơn khi đổi màu/kích thước */
}

.Courses .btn:hover {
  background-color: #ffb900; /* đổi màu nền */
  color: #fff; /* đổi màu chữ */
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* thêm bóng */
}
/* ======================== feedback =========================== */

.feedback {
  margin-top: 200px;
  background: #2e2100;
  padding: 96px 0;

  margin-left: auto;
  margin-right: auto;
}
.feedback-item {
  display: flex;
  flex-shrink: 0;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .infor .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .infor .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
  cursor: pointer;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
  max-width: 740px;
}

.feedback-item blockquote {
  color: white;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54; /* 153.846% */
}

.feedback-item .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-list {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.feedback-item {
  flex: 0 0 100%; /* Mỗi item chiếm toàn bộ chiều ngang */
}

/* ================= feature 1 ================ */

.feature {
  margin-top: 135px;
  padding: 65px 0;
}

.feature .body {
  display: flex;
  justify-content: space-between;
}

.feature .images {
  display: flex;
  gap: 30px;
}
.feature .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.feature .lower {
  margin-top: 34px;
}

.feature .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}

.feature .cta-btn {
  margin-top: 32px;
  border-radius: 26px;
  background: var(--primary-color);
  width: 137px;
  height: 50px;
}

/* ================= feature 2 ================ */

.features-2nd {
  margin-top: 135px;
  padding: 65px 0;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

.features-2nd .body {
  justify-content: space-between;
}

/* ================= Blog ================ */

.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  margin: 16px auto 0;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
  width: 448px;
}

.blogs .blog-list {
  display: flex;
  margin-top: 55px;
  gap: 30px;
}

.blogs .item {
  width: 33.33%;
  background: #ffffff;
  border-radius: 16px;
  
}

.blogs .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blogs .item .infor {
  padding: 20px 20px 28px;
}

.blogs .date {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-bottom: 12px;
}

.blogs .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 4px;
}

.blogs .item .date::after {
  position: absolute;
  content: "";
  display: inline-block;
  right: -27px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
  left: 0;
  bottom: 0;
}

.blogs .item .title {
  color: #171100;

  font-size: 1.6rem;
  margin-top: 12px;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blogs .item .btn {
  margin-top: 12px;
}
